* {
	box-sizing: border-box;
}
header{
  background-color: rgba(203, 203, 203, 0.82);
  text-align: center;
  color: white;
}
.alturaBanner{
  height: 450px;
}
.logo,
.logoCirculo{
  width: 100%;
}
.chamuyo{
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.tamño{
	height: 450px;
}
.fin{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 40px;
  margin: 0px;
}
.venta{
    width: 100%;
    margin-bottom: 15px;
}
.botonMenu{
  text-decoration: none;
  background-color: grey;
  border: none;
}

.botonChango{
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: red;
  border: none;
  font-size: 26px;
}
.botonChango:hover{
  color: white;
  background-color: black;
}
main aside div button.btn {
	text-align: left;
	text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  font-size: 18px;
}
button.btn:hover{
	color: red;
	background-color: rgba(255, 255, 255, 0);
}
.tarjetasSinborde{
  border: none;
}
.anchoBanner{
	width: 100vw;
}
@media (max-width: 767px){
  .carouselMedia, aside{
    display: none;
  }
}
@media (min-width: 767px){
  .menuMedia{
    display: none;
	}
}
@media (max-width: 480px){
  .logo{
    display: none;
  }
}@media (min-width: 480px){
  .logoCirculo{
    display: none;
  }
}
